{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid mt-5">
        <div class="row">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'expenses:expenses' %}">Expenses</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Add Expenses</li>
                </ol>
            </nav>
        </div>

        <div class="card">
            <div class="card-body">
                <form action="{% url 'expenses:expenses' %}" method="post">
                    <div class="form-group">
                        <label for="">Category</label>
                        <select class="form-control" name="category" id="">
                            <option value="Petrol" name="category">Petrol</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Amount</label>
                        <input type="number" class="form-control" name="amount">
                    </div>
                    <div class="form-group">
                        <label for="">Date of Expense</label>
                        <input type="date" class="form-control" name="date">
                    </div>

                    <div class="form-group">
                        <label for="">Description</label>
                        <input type="text" class="form-control" name="Description">
                    </div>
                    <input type="button" class="btn btn-primary" value="Submit">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
