{% extends 'base_auth.html' %}
{% load static %}
{% block content %}

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card mt-5">

                <div class="card-body">
                    <div class="card-title py-3">
                        <h4>Login to your account</h4>
                    </div>

                    <form action="{% url 'auth:login' %}" method="post">
                        {% csrf_token %}
                        {% include 'partilas/messages.html' %}
                        <div class="form-group">
                            <input
                                    type="text"
                                    name="username"
                                    placeholder="username"
                                    id="usernameField"
                                    class="form-control"
                                    autocomplete="off"
                                    value="{{ filed_values.username }}"
                            />
                        </div>
                        {#                        <p class="text-sm text-success usernameSuccessOutput"></p>#}

                        <div class="form-group">
                            <input
                                    type="password"
                                    name="password"
                                    placeholder="Password"
                                    class="form-control"
                                    id="passwordField"
                                    autocomplete="off"
                            />
                        </div>
                        <input type="submit" value="Login" class="btn btn-block btn-primary submit-btn"/>
                    </form>
                    <div class="container">
                        <span class="text-lead lead">Dont have an account:</span> <a href="{% url 'auth:register' %}">Register</a>
                        <div class="float-right"><span class="text-lead lead">Forgot password?:</span> <a
                                href="{% url 'auth:request-reset-link' %}">Reset password</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
    <script src="{% static 'js/register.js' %}"></script>

{% endblock content %}
