{% extends 'base_auth.html' %}
{% load static %}

{% block content %}

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card mt-5">

                <div class="card-body">
                    <div class="card-title py-3">
                        <h4>Please enter email to get reset password</h4>
                    </div>

                    <form action="{% url 'auth:request-reset-link' %}" method="post">
                        {% csrf_token %}
                        {% include 'partilas/messages.html' %}

                        <div class="form-group">
                            <input
                                    type="email"
                                    name="email"
                                    placeholder="Email"
                                    class="form-control"
                                    id="emailField"
                                    autocomplete="off"
                                    value="{{ filed_values.email }}"
                            />
                        </div>

                        <input type="submit" value="Submit" class="btn btn-block btn-primary submit-btn"/>
                    </form>
                    <div class="container">
                        <span class="text-lead lead">Already have an account:</span> <a href="{% url 'auth:login' %}">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
    <script src="{% static 'js/register.js' %}"></script>
{% endblock content %}
